//Nextflow config file for running on Azure batch
params {
    config_profile_description = 'Azure BATCH Cloud Profile'
    config_profile_contact     = ''
    config_profile_url         = 'https://azure.microsoft.com/services/batch/'

    // Storage
    storage_name               = ''
    storage_key                = ''
    storage_container          = ''

    // Batch
    az_location                = 'uksouth'
    batch_name                 = ''
    batch_key                  = ''
    batch_url                  = ''

    vm_type                    = "Standard_D8s_v3"
    autopoolmode               = false
    allowpoolcreation          = true
    deletejobs                 = true
    deletepools                = true
    az_worker_pool             = "auto"

    workDir                    = 'az://nextflow/HiFi-16S-workflow/work'

    // ACR
    acr_registry               = null
    acr_username               = null
    acr_password               = null
}

process {
    executor = 'azurebatch'
    queue = 'Standard_D2d_v4'
    withLabel:cpu_def {queue = 'Standard_D4d_v4'}
    withLabel:cpu8 {queue = 'Standard_D8d_v4'}
    withLabel:cpu32 {queue = 'Standard_D32d_v4'}
}

azure {
    storage {
        accountName = params.storage_name
        accountKey  = params.storage_key
        containerName = params.storage_container
    }
    batch {
        location                = params.az_location
        accountName             = params.batch_name
        accountKey              = params.batch_key
        accountUrl              = params.batch_url
        tokenDuration           = "24h"
        autoPoolMode            = params.autopoolmode
        allowPoolCreation       = params.allowpoolcreation
        deleteJobsOnCompletion  = params.deletejobs
        deletePoolsOnCompletion = params.deletepools
        pools {
            Standard_D2d_v4 {
                autoScale = true
                vmType = 'Standard_D2d_v4'
                vmCount = 2
                maxVmCount = 20
            }
            Standard_D4d_v4 {
                autoScale = true
                vmType = 'Standard_D4d_v4'
                vmCount = 2
                maxVmCount = 20
            }
            Standard_D8d_v4 {
                autoScale = true
                vmType = 'Standard_D8d_v4'
                vmCount = 2
                maxVmCount = 20
            }
            Standard_D32d_v4 {
                autoScale = true
                vmType = 'Standard_D32d_v4'
                vmCount = 2
                maxVmCount = 10
            }
        }
    }
    registry {
        server   = params.acr_registry
        userName = params.acr_username
        password = params.acr_password
    }
}

workDir = params.workDir